/* NAVBAR */
.navbar {
  width: 100%;
  height: auto;
  background-color: navy;
  color: white;
}

/* HEADER */
.header {
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  color: white;
}

/* FOOTER */
.footer {
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  color: white;
}

/********/
/* CARD */
/********/

/* GAME CARD */
.card {
  display: flex;
  width: 300px;
  height: auto;
  background-color: rgb(190, 255, 255);
  border: solid 2px #2b2b2b;
}
