@import url("https://fonts.cdnfonts.com/css/motiva-sans");

:root {
  --primary-font: "Motiva Sans", sans-serif;
  
  /* Text Colors */
  --text-main: #f3f3f3;
  --text-dim: #76808c;

  /* Background Colors */
  --bg-main: #0e141b;
  --bg-highlight: #1e2329;
  --bg-hover: #313843;
  --bg-secondary: #14344b;
  --bg-tertiary: #212b45;

  /* Primary and Secondary Colors */
  --color-primary: #66c0f4;
  --color-secondary: #4b619b;

  /* Accent Colors */
  --accent-green: #a1cd44;
  --accent-red: #cd5444;
  --accent-yellow: #c1b15f;
}

body {
  font-family: "Motiva Sans", sans-serif;
  font-weight: bolder;
  margin-top: 0;
  background: linear-gradient(to bottom, var(--bg-main), var(--bg-secondary));
  color: var(--text-main);
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

/* BUTTONS */

.button-container {
  display: flex;
  gap: 20px;
  margin-left: 2rem;
}

.button {
  font-family: "Motiva Sans", sans-serif;
  margin: 6px 0;
  padding: 10px 10px;
  color: var(--text-main);
  border: none;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.1s;
}
.home-button{
  background-color: var(--color-secondary);
}
.home-button:hover {
  background-color: var(--bg-hover);
}

.nav-button{
  background-color: var(--bg-secondary);
}
.nav-button:hover {
  background-color: var(--bg-hover);
}

/* HEADER */
.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-items: center;
  /* width: 100%; */
  min-height: 60px;
  padding: 0 0 0 10px; /*top right buttom left*/
  /* justify-content: space-between; */
  gap: 5px;
  background-color: var(--bg-highlight);
  /* color: var(--text-main); */
  /* text-decoration: none; */
}

.header-logo {
  width: auto;
  height: 36px;
}

.right {
  margin-left: auto; /* Pushes the element to the right end */
  margin-right: 2rem; /* Adds margin to the right */
}

/* NAVBAR */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 60px; /* Positioned below the header */
  z-index: 999;
  background-color: var(--bg-secondary);
  height: auto;
}

/********/
/* CARD */
/********/

/* GAME CARD */
.gamecard {
  display: flex;
  width: 600px;
  height: auto;
  background-color: rgb(190, 255, 255);
  border: solid 2px #2b2b2b;
}

.longcard {
  display: flex;
  width: 600px;
  height: auto;
  background-color: rgb(221, 255, 190);
  border: solid 2px #2b2b2b;
}

/* Trademark */
.trademark {
  margin-left: 0px;
  vertical-align: text-top; /* Align to the top */
  display: inline;
  color: #c5c3c0; /* Adjust color as needed */
  font-size: 0.3rem; /* Adjust font size as needed */
  white-space: nowrap; /* Prevent line breaks */
}

/* HOME PAGE */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  width: 100%;
}
.homeBanner {
  max-width: 1000px;
  max-height: 360px;
  width: 80%;
  margin-top: 1rem;
}

/* COMMON */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-vertical-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-decro-none {
  text-decoration: none;
}

.gap-xs {
  gap: 5px;
}

.font-12 {
  font-size: 12px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

/* STEAM COLOR */
/* text */
.darkgrey {
  color: #0e141b;
}

.grey {
  color: #c5c3c0;
}
